language: scala
dist: xenial
script:
  - sbt ++$TRAVIS_SCALA_VERSION clean update compile test it:test versionPolicyCheck
scala:
  - 2.13.4
  - 2.12.12
jdk:
  - oraclejdk11
  - openjdk11
  - openjdk8
notifications:
  email:
    - martins@uniso.lv
