<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} %-5level %logger{36} %X{sourceThread} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.zaxxer.hikari" level="warn"/>
    <logger name="org.apache.pekko.stream.scaladsl.RestartWithBackoffSource" level="error"/>
    <logger name="wabase.app.BusinessScenariosSpecs" level="info"/>

    <!-- specific route logger, format - <http method>.<uri path with slashes replaced with dots> -->
    <!-- logger name="post.data.person" level="debug"/ -->
    <!-- specific job logger -->
    <!-- logger name="job.my_job" level="debug"/ -->
    <!-- specific file streamer logger -->
    <!-- logger name="file-streamer.my_file_streamer" level="debug"/ -->
    <!-- logger name="org.wabase.WabaseJobStatusController" level="debug"/ -->
    <!-- logger name="wabase-deferred-control" level="debug"/ -->
    <!-- logger name="wabase-file-cleanup" level="debug"/ -->
</configuration>
